{% extends "layout.njk" %}

  {% block head %}
    <title>Foodfy</title>
  {% endblock %}

{% block content %}


    <section class="banner">
      <div class="description">
        <h1>As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por
          profissionais do mundo inteiro.
        </p>
      </div>
      <div class="logoChef">
        <img src="/assets/chef.png" alt="Logo Chefe" />
      </div>
    </section>

    <section class="main">
      {# <div>
        <h1>Mais acessadas</h1>
      </div> #}
      <div class="receitas">
        {% for receita in receitas %}
        <div class="receita">
          <img src="{{receita.image}}" alt="Hamburguer" />
          <h2>{{receita.title}}</h2>
          <p>{{receita.author}}</p>
        </div>
        {%endfor%}

        {# <div class="receita">
          <img src="./assets/pizza.png" alt="Pizza" />
          <h2>Pizza 4 estações</h2>
          <p>por Fabiana Melo</p>
        </div>

        <div class="receita">
          <img src="./assets/espaguete.png" alt="Espaguete" />
          <h2>Espaguete ao alho</h2>
          <p>por Júlia Kinoto</p>
        </div>

        <div class="receita">
          <img src="./assets/lasanha.png" alt="Lasanaha" />
          <h2>Lasanha mac n’ cheese</h2>
          <p>por Juliano Vieira</p>
        </div>

        <div class="receita">
          <img src="./assets/doce.png" alt="Doce" />
          <h2>Docinhos pão-do-céu</h2>
          <p>por Ricardo Golvea</p>
        </div>

        <div class="receita">
          <img src="./assets/asinhas.png" alt="Asinhas" />
          <h2>Asinhas de frango ao barbecue</h2>
          <p>por Vania Steroski</p>
        </div> #}
      </div>
    </section>

{% endblock %}



