<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Foodfy</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <div class="content">
        <div class="logo">
          <a href="/">
            <h2>Foodfy</h2>
          </a>
        </div>

        <div class="menu">
          <a href="/about">Sobre</a>
          <a href="/receitas">Receitas</a>
        </div>
      </div>
    </header>

    {# aqui #}
    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <div>
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </div>
    </footer>
  </body>
</html>
