@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

:root {
  --color-main: #111111;
  --color-pink: #fbdfdb;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: var(--color-main);
  font-family: "Roboto-Regular", sans-serif;
}

.content {
  width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 32px;
}

.content .logo {
  margin-right: 128px;
  font-family: "Yellowtail", cursive;
}

.content .logo a {
  text-decoration: none;
  color: #111111;
}

.menu a {
  text-decoration: none;
  color: var(--color-main);
}

.menu > a:first-child {
  padding-right: 32px;
}

.menu a:hover {
  font-weight: bold;
}

.banner {
  background-color: var(--color-pink);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 366px;
  border-radius: 30px;
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.banner .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.description h1 {
  font-weight: 700;
  font-size: 40px;
}

.description > h1:first-child {
  padding-bottom: 12px;
}

.logoChef {
  position: absolute;
  bottom: 0;
  right: 100px;
}

/* MAIN */
.main {
  margin: 50px auto;
  width: 940px;
  align-items: center;
}

/* .main h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
} */

.receitas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
  margin-top: 20px;
}

.receitas img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.receita h2 {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}

.receita p {
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  color: #777777;
  margin-top: 5px;
}

footer {
  height: 62px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  bottom: 0;
  position: absolute;
  flex-direction: row;
}

footer p {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

/* ABOUT.HTML */

.action {
  margin: 18px auto;
  width: 940px;
}

.aboutFoodfy {
  padding-bottom: 30px;
}

.aboutFoodfy .title {
  font-size: 24px;
  padding-bottom: 20px;
}

.comoTudoComecou .title {
  font-size: 20px;
  padding-bottom: 20px;
}

.comoTudoComecou {
  padding-bottom: 30px;
}

.nossasReceitas .title {
  font-size: 20px;
  padding-bottom: 20px;
}

.history {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}
